<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header><img src="/img/logo.png" alt="meadowlark travel logo "></header>
	{{{body}}}
</body>
</html>