<h1>Request Group Ragte</h1>
<form>
	<input type="hidden" name="referrer" >
	name: <input type="text" id="fieldNmae" name="name"><br>
	Group size: <input type="text" name="name"><br>
	Email: <input type="text" name="email"><br>
	<input type="submit" value="submit">
</form>
<script>
	$(document).ready(function(){
		$('input[name="referrer"').val(document.referrer);
	})
</script>